{% extends "base.html" %}

{% block head_title %}
    {{post.text}} by {{post.author.username}}
{% endblock head_title %}

{% block body %}

    <h1> Total de Notificações: {{ count }} </h1>

    {% for notification in unread_notifications %}

        <div class="notify">
            <div class="verb">
                {{ notification.verb }}
            </div>
            <div class="timestamp">
                {{ notification.timestamp }}
            </div>
        </div>

    {% endfor %}

    <a class="btn-lido" href="{% url 'notify:marcar_notificao_como_lida' %}"> Marcar todas como lidas </a>

    {% for notification in read_notifications %}

        <div class="notify">
            <div class="verb">
                {{ notification.verb }}
            </div>
            <div class="timestamp">
                {{ notification.timestamp }}
            </div>
        </div>

    {% endfor %}

{% endblock body %}